.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          SEO
        %ul.left-header__members
          Member：
          %li.member
            sample
          %li.member
            sample
          %li.member
            sample
      .right-header
        .right-header__button
          Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            Rick
          .upper-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            hello!
      .message
        .upper-message
          .upper-message__user-name
            Judy
          .upper-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            Good morning!
      .message
        .upper-message
          .upper-message__user-name
            Michael
          .upper-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            Have a nice day!
    .form
      %form
        %input.form__message
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}